<section id="backgroundDiv" class="tab-body apply-header-font" data-ffgcc_tab_section="1">
    <main class='tab-content hct-panel-container'>
        <div class="hct-panel-left">
            <div class="hct-icon-with-context hct-small-margin-b" data-hct-race-search>
                <img class="hct-icon hct-width-60 hct-margin-r-tiny" title="raceIcon" src="icons/svg/mystery-man.svg" data-hct_race_icon>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea">
            <div data-hct_race_description>{{ localize 'ffg-cc.background.description.placeholder' }}</div>
        </div>
    </main>
</section>