<section id="backgroundDiv" class="tab-body apply-header-font" data-ffgcc_tab_section="2">
    <main class='tab-content hct-panel-container'>
        <div class="hct-panel-left">
            <div class="hct-icon-with-context hct-small-margin-b" data-hct-emo-str-search>
                <img class="hct-icon hct-width-60 hct-margin-r-tiny" title="raceIcon" src="icons/svg/mystery-man.svg" data-hct_emo_str_icon>
            </div>
            <div class="hct-icon-with-context hct-small-margin-b" data-hct-emo-weak-search>
                <img class="hct-icon hct-width-60 hct-margin-r-tiny" title="raceIcon" src="icons/svg/mystery-man.svg" data-hct_emo_weak_icon>
            </div>
            <!-- todo: add a "starting bonus" label -->
            <div class="hct-flex hct-padding-b-tiny centered-text" data-morality>
                <label class="hct-width-180" id="starting_morality">Starting Morality: 50</label>
            </div>
            <div class="hct-icon-with-context hct-small-margin-b" data-hct_area=alignment></div>
        </div>
        <div class="hct-panel-right hct-infoArea">
            <div data-hct_emo_str_description>{{ localize 'ffg-cc.emo-str.description.placeholder' }}</div>
            <hr data-hct_subrace_separator>
            <div data-hct_emo_weak_description>{{ localize 'ffg-cc.emo-weak.description.placeholder' }}</div>
        </div>
    </main>
</section>