<section id="startDiv" class="tab-body apply-header-font hct-y-scroll" data-ffgcc_tab_section="-1">
  <main class='tab-content'>
    <h1 class='tab-header'>{{localize 'ffg-cc.start.welcome'}}</h1>

    <p class="justified-text">{{localize 'ffg-cc.start.p1'}}</p>
    <br>
    <p class="justified-text">{{localize 'ffg-cc.start.p2'}}</p>
    <br>
    <br>
    <b class="centered-text">{{localize 'ffg-cc.start.remark'}}</b>
    <br>
    <img id="main-logo">
    <p class="centered-text"><a class="hct-accented"
        href="https://github.com/HeroCreationLab/hero-creation-tool/blob/main/README.md#faq">{{localize
        'ffg-cc.start.credit'}}</a></p>
  </main>
</section>